#jinja2:variable_start_string:'{{[', variable_end_string:']}}'
tls:
  stores:
    default:
      defaultCertificate:
          keyFile: "/certs/cfg/live/{{[ inventory_hostname ]}}/privkey.pem"
          certFile: "/certs/cfg/live/{{[ inventory_hostname ]}}/fullchain.pem"
