server:
  log_level: info

metrics:
  wal_directory: /data/metrics/wal
  global:
    scrape_interval: 15s
    remote_write:
    - url: "http://mimir:8080/api/v1/push"
      basic_auth:
        username: dev
        password: {{ mdev_admin_token.stdout }}
  configs:
    - name: mimir
{% filter indent(width=6) %}
      {% include 'scrape_configs.yml' %}
{% endfilter %}

logs:
  configs:
  - name: loki
    clients:
      - url: http://loki:3100/loki/api/v1/push
        basic_auth:
          username: dev
          password: {{ ldev_admin_token.stdout }}
        external_labels:
          cluster: local
    positions:
      filename: /data/logs/positions.yaml
    scrape_configs:
      - job_name: docker_logs
        docker_sd_configs:
          - host: unix:///var/run/docker.sock
            refresh_interval: 5s
        relabel_configs:
          - source_labels: ['__meta_docker_container_name']
            regex: '/(.*)'
            target_label: 'container'
          - source_labels: ['__meta_docker_container_log_stream']
            target_label: 'logstream'
          - source_labels: ['__meta_docker_container_label_logging_jobname']
            target_label: 'job'
      - job_name: syslog
        syslog:
          listen_address: 0.0.0.0:1514
          listen_protocol: tcp
          labels:
            job: "syslog"
        relabel_configs:
          - source_labels: [__syslog_message_hostname]
            target_label: hostname
          - source_labels: [__syslog_message_severity]
            target_label: level
          - source_labels: [__syslog_message_facility]
            target_label: facility

traces:
  configs:
  - name: default
    receivers:
      otlp:
        protocols:
          grpc:
    remote_write:
      - endpoint: tempo:4317
        insecure: true
        basic_auth:
          username: dev
          password: {{ tdev_admin_token.stdout }}
    batch:
      timeout: 5s
      send_batch_size: 100