server:
  log_level: info

metrics:
  wal_directory: /data/metrics/wal
  global:
    scrape_interval: 15s
    remote_write:
    - url: "http://mimir:8080/api/v1/push"
      basic_auth:
        username: dev
        password: {{ dev_admin_token.stdout }}
  configs:
    - name: mimir
{% filter indent(width=6) %}
      {% include 'scrape_configs.yml' %}
{% endfilter %}

