[Unit]
Description=Grafana Enterprise Logs
Documentation=https://grafana.com/docs/enterprise-logs/latest/
Wants=network-online.target
After=network-online.target

[Service]
User=enterprise-logs
ExecStart=/usr/local/bin/enterprise-logs \
              -config.file=/etc/enterprise-logs/config.yaml \
              -target=gateway \
              -gateway.proxy.default.url=http://infra:5100 \
              -gateway.proxy.admin-api.url=http://infra:4100 \
              -gateway.proxy.compactor.url=http://infra:5100 \
              -gateway.proxy.distributor.url=http://infra:4100 \
              -gateway.proxy.ingester.url=http://infra:4100 \
              -gateway.proxy.query-frontend.url=http://infra:6100 \
              -gateway.proxy.ruler.url=http://infra:5100

# Limits should instead be imposed by ulimit.
LimitNOFILE=infinity

Restart=always
# Give ingesters plenty of time to gracefully leave.
TimeoutStopSec=4800

WorkingDirectory=/var/lib/enterprise-logs

[Install]
WantedBy=default.target